
.profile-card {
    width: 25rem;
    border: 0px;
    margin-bottom: 40px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.05), 
        -5px -5px 5px rgba(255, 255, 255, 0.10);
}

.profile-card * {
    margin: 7px;
}

.avatar {
    height: 80px;
    width: 80px;
}