* {
    margin: 5px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f8f8f8;
}

.modal-content {
    background-color: #f8f8f8;
}

.auth-form {
    width: 30rem;
}

.data-form {
    width: 30rem;
}

.form-control {
    border: 0px;
}

/* inactive nav link */
.nav-pills .nav-link:not(.active) {
    background-color: #f8f8f8 !important;
    color: #2E4053;
}

/* active nav link */
.nav-pills .nav-link{
    background-color: #2E4053 !important;
    color: white;
}

.btn-primary {
    background-color: #2E4053 !important;
    border: 0px !important;
    box-shadow: none !important;
}
.btn-primary:hover {
    background-color: #f8f8f8 !important;
    color: #2E4053 !important;
}

.note-button {
    background-color: #f8f8f8 !important;
    color: #2E4053 !important;
    box-shadow: none !important;
    padding-left: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 0px;
}
.note-button:hover{
    color: #f8f8f8 !important;
    background-color: #2E4053 !important;
}

.note-icon {
    height: 12px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.note-dropdown {
    margin: 0px;
    padding: 0px;
    float: right;
}

.dropdown-item {
    width : auto;
}

.input-group-text{
    margin: 0px;
}

.input-group-prepend{
    margin: 0px;
}

.custom-select{
    width: 25rem;
    border: 0px;
}

.home-input {
    width: 20rem;
}

.notes-grid {
    margin: 0px;
    width: 100%;
}

@media (max-width : 600px){
    .custom-select {
        width: 18rem;
    }
    .modal-content {
        width: 20rem;
    }
    .note-dropdown {
        float: initial;
    }
    .auth-form {
        width : 100%
    }
    .data-form {
        width: 100%;
    }
    .profile-card {
        width: 18rem !important;
    }
}